.form-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: #131324;
}

.form{
    display: flex;
    height: 90vh;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #00000075;
    border-radius: 2rem;
    padding: 3rem 5rem;
}

.brand{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.brand img{
    height: 5rem;
    margin-top: -25px;
} 

.brand h1{
    color: white;
    text-transform: uppercase;
}

.form input{
    background-color: transparent;
    padding: 1rem;
    border: 0.1rem solid #4e0eff;
    border-radius: 0.4rem;
    color: white;
    width:100%;
    font-size: 1rem;
    &:focus{
        border: 0.1rem solid #997af0;
        outline: none;
    }
}

.form button{
    background-color: #997af0;
    color: white;
    padding: 1rem 2rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 1rem;
    text-transform: uppercase;
    /* transition: 0.9s else-in-out; */
    &:hover{
        background-color: #4e0eff;
    }
}

.form span{
    color: white;
    
}
.form span a{
    color: #4e0eff;
    text-decoration: none;
    font-weight: bold;
}